.container-download {
    height: 300px;
    display: flex;
    justify-content: center;
}

.download-group {
    width: 64em;
    height: 17.5em;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.download-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    height: 15em;
    padding-left: 90px;
}

.download-info h3 {
    font-size: 34px;
    margin: 0;
    font-weight: 600;
}

.link {
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
}

.link img {
    width: 159px;
    height: 50px;
}

.download-info a {
    text-decoration: none;
    color: #00a2c7;
    padding-top: 3px;
    font-weight: 600;
    font-size: 16px;
}

.download-info a span {
    padding-left: 18px;
    font-size: 17px;
}

.link a:last-child {
    padding-left: 20px;
}

.download-group .img-app {
    width: 200px;
    height: 280px;
    padding-right: 80px;
}