.container-download {
    height: 320px;
}

.download-group {
    margin: 0 269px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.download-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-left: 90px;
}

.download-info h3 {
    font-size: 28px;
    margin: 0;
    font-weight: 600;
}

.download-info .link {
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
}

.download-info .link img {
    width: 130px;
    height: 40px;
}

.download-info a {
    text-decoration: none;
    color: #00a2c7;
    padding-top: 3px;
    font-weight: 600;
    font-size: 13px;
}

.download-info a span {
    padding-left: 18px;
    font-size: 17px;
}

.download-info .link a:last-child {
    padding-left: 20px;
}

.download-group .img-app {
    width: 200px;
    height: 280px;
    padding-right: 80px;
}