body {
    font-family: Roboto, sans-serif;
}

.event-card {
    border: 1px solid rgba(46, 62, 72, .12);
    border-radius: 8px;
    width: 300px;
    padding: 18px 16px;
    min-height: 160px;
    text-decoration: none;
    background-color: #FFF;
}

.event-card a {
    text-decoration: none;
}

.event-card a:active .event-place i {
    color: #212121;
}

.event-info .event-time {
    font-weight: 600;
    font-size: 13px;
    color: #0098AB;
    padding-bottom: 8px;
}

.event-info .event-name {
    font-weight: bold;
    padding-bottom: 8px;
    font-size: 19px;
    color: #212121;
}

.event-info .event-place {
    display: flex;
    color: #212121;
}

.event-location {
    font-size: 15px;
    padding-bottom: 16px;
    color: #444;
}

.event-place .place {
    padding-left: 10px;
    font-size: 13px;
}

.participants {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.participate-button {
    border: 1px solid #0098AB;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #0098AB;
}

.participants .participants-count {
    font-size: 13px;
    color: #757575;
    padding-top: 10px;
}

.participate-button:hover {
    background-color: #0098AB;
    color: #FFF;
}