.event-card {
    border: 1px solid rgba(46, 62, 72, .12);
    border-radius: 8px;
    width: 300px;
    padding: 18px 16px;
    min-height: 200px;
    text-decoration: none;
    background-color: #FFF;
    box-shadow: 0 0 .05px 0 rgba(46, 62, 72, .12), 0 2px 4px 0 rgba(46, 62, 72, .12);
    cursor: pointer;
    transform: translate(0 0);
    transition: all 0.2s;
}

.event-card:hover {
    transform: translate(2px, -2px);
}

.event-card a {
    text-decoration: none;
}

.event-card .event-info {
    min-height: 200px;
}

.event-card a:active .event-place i {
    color: #212121;
}

.event-info .event-time {
    font-weight: 600;
    font-size: 13px;
    color: #1ba0b8;
    padding-bottom: 8px;
}

.event-info .event-name {
    font-weight: bold;
    padding-bottom: 8px;
    font-size: 19px;
    color: #212121;
}

.event-info .event-place {
    display: flex;
    color: #212121;
}

.event-location {
    font-size: 15px;
    padding-bottom: 16px;
    color: #444;
}

.event-place .place {
    padding-left: 10px;
    font-size: 13px;
}

.participants {
    display: flex;
    padding-top: 35px;
    justify-content: space-between;
}

.participate-button {
    border: 1px solid #1ba0b8;
    border-radius: 8px;
    padding: 14px 22px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #1ba0b8;
}

.participants .participants-count {
    font-size: 13px;
    color: #757575;
    padding-top: 10px;
}

.participate-button:hover {
    background-color: #1ba0b8;
    color: #FFF;
}