.footer-1 {
    height: 527.4px;
    background-color: #353e48;
    display: flex;
    justify-content: center;
}

.footer-group {
    width: 1060px;
    height: 527.4px;
    display: flex;
    flex-direction: column;
}

.footer-1 h3 {
    color: #fff;
}

.group-top {
    padding: 40px 0 40px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.group-top a {
    color: #fff;
    font-size: 19px;
}

.group-top a:hover {
    text-decoration: none;
}

.group-bottom {
    display: flex;
    padding: 40px 0 20px 0;
}

.group-bottom .group {
    width: 220px;
    height: 343.4px;
    display: flex;
    flex-direction: column;
}

.group-bottom .group h4,
a {
    font-size: 19px;
}

.group-bottom .group h4 {
    font-weight: 600;
    color: #fff;
    margin: 0 0 20px 0;
}

.group-bottom .group a {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 0 24px 0;
    text-decoration: none;
}

.group-bottom .group {
    padding-left: 20px;
}

.group-bottom .group:first-child {
    padding-left: 0;
}

.group-bottom .follow {
    width: 340px;
    padding-left: 20px;
}

.group-bottom .follow h4 {
    color: #fff;
    font-size: 16px;
    margin: 0 0 20px 0;
}

.group-bottom .social-icon i {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
    padding: 2px 40px 40px 0;
}

.group-bottom .select {
    border: 1px solid #FFF;
    border-radius: 4px;
    background: #0F1721;
    color: #fff;
    width: 340px;
    height: 65.2px;
    font-size: 16px;
    padding: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper:after {
    content: '\f107';
    font-size: 28px;
    position: absolute;
    top: 12px;
    right: 20px;
    color: #434B67;
    pointer-events: none;
}

select::-ms-expand {
    display: none;
}

.group-bottom .select:hover {
    border-color: #9b9fa3;
}

.group-bottom .select:link {
    border-color: #00FFFF;
}

.footer-2 {
    display: flex;
    justify-content: center;
    background-color: #2f363f;
    color: #FFF;
}

.footer-2 .padding-all {
    width: 1060px;
    padding: 20px;
}

.footer-2 .info {
    display: flex;
    padding: 0;
    margin: 0;
}

.footer-2 .info:last-child {
    margin-top: 20px;
}

.footer-2 .info {
    list-style: none;
}

.footer-2 .info a {
    font-size: 16px;
}

.footer-2 .info li:first-child span {
    padding-right: 5px;
    font-size: 14px;
}

.footer-2 .info li:first-child:after {
    content: attr(data-separator);
    padding: 0 10px 0;
}

.last-li::after {
    content: attr(data-separator);
    padding: 0 10px 0;
}

.footer-2 .info li a {
    text-decoration: none;
    color: #FFF;
}